<h1>Api Usuários</h1>

<table class="table">
  <thead>
    <th>Nome</th>
    <th>Idade</th>
    <th>Sexo</th>
    <th>Cidade</th>
    <th>Uf</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <tr> 
        <td><%= user['nome'] %></td>
        <td><%= user['idade'].to_time.strftime('%d/%m/%Y') %></td>
        <td><%=  [0 => :Masculino, 1 => :Feminino,  2 => :Outros].map{|key, hash| key[user['sexo']] }.join(',') %></td>
        <td><%= user['cidade'] %></td>
        <td><%= CS.states(:br).map{|key, hash| key }.to_a[user['uf']] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>