<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @user.idade %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @user.sexo %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @user.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @user.uf %>
</p>

<%= link_to fa_icon("edit"), edit_user_path(@user), class: 'text-info' %> |
<%= link_to fa_icon("arrow-left"), users_path, class: 'text-secondary' %>
